body{
  font-family: 'Merriweather', sans-serif, Georgia;
  color: #2a2a2a;
  background-color: #D6EDFF;
}

.top {
  width:50px;
  padding-right:0rem; 
  padding-left:0rem;
}

#top-bar {
  padding-top: 1rem; 
  position: fixed;
}

#self-icon {
  border-radius: 50%;
}

.nav-item {
  padding: 0.5rem;
}

#home span{
  color: #064789;
  font-weight: 600;
}

#home {
  color: #2a2a2a;
  padding-top: 4rem; 
  padding-bottom: 6rem;
  background-color: #D6EDFF;
}

img {
  border-radius: 10%;
}

#projects {
  padding-top: 6rem; 
  padding-bottom: 6rem;
  background-color: #70D7FF;
}

.project-item {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.project-image {
  margin-top: 0.5rem;
}

#Interests {
  padding-top: 6rem; 
  padding-bottom: 6rem;
  background-color: #D6EDFF;
}

.btn {
  margin: 1rem; 
  margin-left:0rem;
}

.secondary{
  color: #654597;
}

.primary {
  color: #064789;
}

em {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}

.large-font {
  font-size: 1000;
}

.spaced-button {
  margin-top: 1rem; 
  margin-bottom: 1rem;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.circle-image {
  border-radius: 50%;
  width: 4rem;
  float: left;
  display:flex;
}