.top {
  width:50px;
}

.nav-item {
  padding: 0.5rem;
}

#home span{
  color: #70998C;
  font-weight: 600;
}

body{
  font-family: 'Nunito', sans-serif, Georgia;
  background-color: hsl(271.8,58.6%,88.6%) !important;
  color: #2a2a2a;
}

#home {
  color: #2a2a2a;
}

img {
  border-radius: 10%;
}

.project-item {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.secondary{
  color: #49093E;
}

.primary {
  color: #70998C;
}

em {
  font-weight: 600;
}

.bold {
  font-weight: 600;
}